.register-form{
    width: 600px;
    height: 400px;
 margin: auto;
border-radius: 5px;
background-color: rgb(242, 242, 250);
padding: 20px;
border-radius: 5px;
border: 1px solid greenyellow;
    
}

.email{
    margin-bottom: 10px;
}
.password{
    margin-bottom: 10px;
} 

.submit-reg{
    background-color: rgb(3, 173, 74);
    border: none;
    color: aliceblue;
   padding: 10px 20px;
    border-radius: 20px;
}