.count{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    text-align: center;
    padding-top: 40px;
  }
  
  .time {
    font-size: 32px;
  }
  .cownt{
      margin-top: 50px;
      border-radius: 10px;
    
      width: 600px;
      margin: auto;
      padding: 20px;
      box-shadow: 10px  #aaaaaa;
      background-color: rgb(239, 255, 254);
}
  